.color-inputs {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.color-inputs > div {
  display: flex;
  align-items: center;
  margin: 5px 0;
  min-width: 200px;
}

.color-inputs > div .letter {
  margin-left: 10px;
}

.color-inputs * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.svgRender svg {
  fill: #FFF;
  cursor: pointer;
}

.editModalContent {
  display: flex;
  margin-left: 50px;
}

.editModalContent > div {
  padding: 0 10px
}

.myModal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-25px, -50%);
}

.myOverlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none
}

.myOverlay, .myOverlay * {
  outline: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

@-webkit-keyframes swing {
  33% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  66% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes swing {
  33% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  66% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.swing {
  -webkit-animation: swing 1s linear 0s infinite;
  animation: swing 1s linear 0s infinite;
}

@-webkit-keyframes toggling {
  0% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
  5% {
    transform: scaleX(1.2);
    -webkit-transform: scaleX(1.2);
  }
  10% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
  50% {
    transform: translateY(50px) scale(0.1);
    -webkit-transform: translateY(50px) scale(0.1);
  }
  75% {
    transform: translateY(0px) scale(1.2);
    -webkit-transform: translateY(0px) scale(1.2);
  }
  90% {
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
  }
  95% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
}

@keyframes toggling {
  0% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
  5% {
    transform: scaleX(1.2);
    -webkit-transform: scaleX(1.2);
  }
  10% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
  50% {
    transform: translateY(50px) scale(0.1);
    -webkit-transform: translateY(50px) scale(0.1);
  }
  75% {
    transform: translateY(0px) scale(1.2);
    -webkit-transform: translateY(0px) scale(1.2);
  }
  90% {
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
  }
  95% {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }
}

.toggling {
  -webkit-animation: toggling 1s ease 0s 1;
  animation: toggling 1s ease 0s 1;
}

.highlighted * {
  fill: yellow
}