.color-inputs {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.color-inputs > div {
  display: flex;
  align-items: center;
  margin: 5px 0;
  min-width: 200px;
}

.color-inputs > div .letter {
  margin-left: 10px;
}

.color-inputs * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.svgRender svg {
  fill: #FFF;
  cursor: pointer;
}

.editModalContent {
  display: flex;
  margin-left: 50px;
}

.editModalContent > div {
  padding: 0 10px
}

.myModal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-25px, -50%);
}

.myOverlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none
}

.myOverlay, .myOverlay * {
  outline: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
