.color-inputs {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  color: #fff;
}

.color-inputs > div {
  display: flex;
  align-items: center;
   /* flex-direction: column; */
  margin: 5px 0;
  min-width: 200px;

  
}
.color-inputs > div .letter {
  margin-left: 10px;
}

.svgRender svg {
  fill: #FFF;
  cursor: pointer;
}

.editModalContent {
  display: flex;
  margin-left: 50px;
}

.editModalContent > div {
  padding: 0 10px
}

.myModal {
  /* color: red */
  position: absolute;
  /* width: 50px; */
  /* padding: 4px; */
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-25px, -50%);
  /* right: right; */
  /* bottom: auto; */
  /* background-color: #fff; */
}

.myOverlay {
  /* position: fixed;
  width: 100vw;
  height: 100vh; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none
}

.myOverlay, .myOverlay * {
  outline: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
/* 
style={ {
        content: {
          width: '50px',
          padding: '4px',
          top: '50%',
          left: '50%',
          right: 'right',
          bottom: 'auto'
          // onhover: { animation: 'fade' }

          // marginRight: '-50%'
          // transform: 'translate(0%, -50%)'
        },
        overlay: {
          position: 'fixed',
          top: 0,
          left: 0,
          right: 0,
          bottom: 0,
          background: 'none'
        }
      } } */